.productCard {
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 250px;
  border: 1px solid #7f28c4;
  border-radius: 8px;
}

.productPhotoContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 130px;
  height: 150px;
}

.productPhoto {
  width: 130px;
  height: auto;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.productName {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 70px;
}

.productPrice {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 32px;
  color: #7f28c4;
  margin-bottom: 10px;
}

.productQuantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.valueChangeButton {
  display: flex;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #7f28c4;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
  color: #7f28c4;
  margin-left: 5px;
  margin-right: 5px;
}

.valueChangeButton:hover {
  cursor: pointer;
}

.productQuantityField {
  display: flex;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #7f28c4;
  width: 40px;
  height: 28px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #7f28c4;
}

.addToCartButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.addToCartButton {
  display: flex;
  background-color: #7f28c4;
  height: 28px;
  width: 120px;
  border-radius: 4px;
}